<span class="userClass">
  <span title="logged In user" class="user">{{user}}</span>
</span>
<div class="trending">#Trending Now</div>
<div class="band">
  <div class="item-1">
    <a href="https://yourstory.com/socialstory/2021/03/prime-minister-narendra-modi-kerala-college-mann-ki-baat"
      target="_blank" class="card">
      <div class="thumb"
        style="background-image: url(https://images.yourstory.com/cs/5/f5a7f3304b1211e9b6645b8ae897d03e/Screenshot2021-03-29at14-1617007802583.png?fm=png&auto=format&ar=2:1&mode=crop&crop=face);">
      </div>
      <article>
        <h1>Prime Minister Narendra Modi praises Kerala college's recycled toys initiative
        </h1>
        <span>Mary Winkler</span>
      </article>
    </a>
  </div>
  <div class="item-2">
    <a href="#" target="_blank" class="card">
      <div class="thumb"
        style="background-image: url(https://images.yourstory.com/cs/2/2d86ed30b28211e8b2e7114aea10c711/Yourstory-800x400-1614938393828.jpg?fm=png&auto=format&ar=2:1&mode=crop&crop=face);">
      </div>
      <article>
        <h1>Fujifilm Unveils ‘Never Stop Innovating for a Healthier World’ Campaign</h1>
        <p class="para-body">When COVID-19 stormed its way through the world in 2020, most countries found
          themselves struggling to deal
          with the deadly pandemic.
        </p>
        <div class="read-more">Read more...</div>
        <span>Harry Brignull</span>
      </article>
    </a>
  </div>
  <div class="item-3">
    <a href="#" target="_blank" class="card">
      <div class="thumb"
        style="background-image: url(https://images.yourstory.com/cs/2/25e9e0e0605211e984534d4121ad4bb6/byjus3-1597676966761.png?fm=png&auto=format&ar=2:1&mode=crop&crop=face);">
      </div>
      <article>
        <h1>BYJU'S raises $460M in Series F round</h1>
        <p class="para-body">Edtech unicorn BYJU'S has raised Rs 3,328.23 crore as part of
          its ongoing Series
          F funding round led by MC Global Edtech Investment Holdings at a valuation north of $13 billion.</p>
        <div class="read-more">Read more...</div>
        <span>Melody Nieves</span>
      </article>
    </a>
  </div>
  <div class="item-4">
    <a href="#" class="card">
      <div class="thumb"
        style="background-image: url(https://images.yourstory.com/cs/2/2d86ed30b28211e8b2e7114aea10c711/Imagenukf-1617001675724.jpg?fm=png&auto=format&ar=2:1&mode=crop&crop=face);">
      </div>
      <article>
        <h1>This Pune-based startup is helping corporates unlock benefits of group health insurance
        </h1>
        <p class="para-body">Edtech unicorn BYJU'S has raised Rs 3,328.23 crore as part of
          With a focus on preventative care, Loop Health provides organisations group health insurance
        </p>
        <div class="read-more">Read more...</div>
        <span>Melody Nieves</span>
      </article>
    </a>
  </div>
  <div class="item-5">
    <a href="https://yourstory.com/2021/03/gurugram-startup-zingbus-takes-tech-route-intercity-bus-travel-smoother"
      class="card">
      <div class="thumb"
        style="background-image: url(https://images.yourstory.com/cs/2/b87effd06a6611e9ad333f8a4777438f/Imageyuw3-1616680107139.jpg?fm=png&auto=format&ar=2:1&mode=crop&crop=face);">
      </div>
      <article>
        <h1>This Gurugram-based startup takes the tech route to make intercity bus travel smoother</h1>
        <p class="para-body">Intercity bus startup Zingbus runs a technology-enabled fleet of buses and manages all
          aspects of travel from booking to service experience on one platform.
        </p>
        <div class="read-more">Read more...</div>
        <span>Melody Nieves</span>
      </article>
    </a>
  </div>
  <div class="item-6">
    <a href="https://yourstory.com/2021/03/startup-bharat-lucknow-based-coworking-startup-provides-office-spaces"
      target="_blank" class="card">
      <div class="thumb"
        style="background-image: url(https://images.yourstory.com/cs/2/b094ec506da611eab285b7ee8106293d/imageonline-co-logoadded21-1616674697658.jpg?fm=png&auto=format);">
      </div>
      <article>
        <h1>This Lucknow-based coworking startup wants to provide office spaces to entrepreneurs in Tier II
          towns</h1>
        <p class="para-body">Founded in 2019 by Vinayak Nath and Sudhanshu Rastogi, Lucknow-based My Place Coworking
          offers well-equipped workspaces to businesses and individuals.
        </p>
        <div class="read-more">Read more...</div>
        <span>Marie Gardiner</span>
      </article>
    </a>
  </div>
  <div class="item-7">
    <a href="https://yourstory.com/2021/03/startup-born-in-the-middle-of-pandemic-accio-robotics-100x-vc" class="card">
      <div class="thumb"
        style="background-image: url(https://images.yourstory.com/cs/2/11718bd02d6d11e9aa979329348d4c3e/Imagem2hi-1615641848356.jpg?fm=png&auto=format&ar=2:1&mode=crop&crop=face);">
      </div>
      <article>
        <h1>The story of a startup born in the middle of a pandemic and how it got its first cheque from 100X.VC</h1>
        <p class="para-body">Bengaluru-based Accio Robotics is involved in the designing and manufacturing of robotics
          automation solutions.
        </p>
        <div class="read-more">Read more...</div>
        <span>Kendra Schaefer</span>
      </article>
    </a>
  </div>
</div>

<br>
<br>
