<span class="userClass">
  <mat-icon >account_circle</mat-icon><span title="logged In user" class="user">{{user}}</span>
</span>
<span class="logoutClass">
  <a mat-raised-button color="accent" routerLink="/home" (click)="logout()">logout</a>
</span>
<span class="galleryClass">
  <a mat-button id="gallery">Gallery</a>
</span>
<div class="jumbotron">
  <h1 class="display-5 text-center">Gallery</h1>
</div>
<div class="blank-space"></div>
<div class="wrapper">
  <div class="row">
    <div class="col">
      <div class="card"><img
          src="https://images.unsplash.com/photo-1542300058-b94b8ab7411b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=667&q=80" />
      </div>
    </div>
    <div class="col">
      <div class="card"><img
          src="https://images.unsplash.com/photo-1479502806991-251c94be6b15?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80" />
      </div>
    </div>
    <div class="col">
      <div class="card"><img
          src="https://images.unsplash.com/photo-1542300058-849d3b08aa0f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=668&q=80" />
      </div>
    </div>
    <div class="col">
      <div class="card"><img
          src="https://images.unsplash.com/photo-1491933367339-d869a4dcc137?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=667&q=80" />
      </div>
    </div>
  </div>
  <div class="blank-space"></div>
  <div class="row">
    <div class="col">
      <div class="card"><img
          src="https://images.unsplash.com/photo-1542291771-64f962701184?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=338&q=80" />
      </div>
    </div>
    <div class="col">
      <div class="card"><img
          src="https://images.unsplash.com/photo-1542331514-91526580a6e6?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1534&q=80" />
      </div>
    </div>
    <div class="col">
      <div class="card"><img
          src="https://images.unsplash.com/photo-1542293787938-c9e299b880cc?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80" />
      </div>
    </div>
    <div class="col">
      <div class="card"><img
          src="https://images.unsplash.com/photo-1504641020507-a9992d81dd1e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=334&q=80" />
      </div>
    </div>
  </div>
</div>
<div class="blank-space"></div>
