<span class="userClass">
  <span title="logged In user" class="user">{{user}}</span>
</span>
<div class="jumbotron">
  <h1 class="display-4 text-center">About Us</h1>
</div>
<div class="cover-img">
  <img src="../../../assets/images/background-image/About_background_image.jfif" alt="background-image">
</div>
<p class="lead">When history reaches a turning point, there are those who watch and those who act. We at YourStory are
  both observers and participants in the making of new economic history. The purpose of our existence is to evaluate,
  expound and showcase the awesome spark of creation in every entrepreneur and changemaker. Our passion for
  entrepreneurship and its resounding global resonance is only matched by the zeal to bring our peers onto a single
  platform for a free-flowing exchange of ideas and visions. We work from all over India to bring the best and the
  brightest entrepreneurs into the limelight they deserve The YourStory Team brings you stories of entrepreneurs and
  change-makers, funding analyses, resource pieces and the first glimpse of emerging trends from India’s entrepreneurial
  ecosystem, as well as profiles of great businesses and entrepreneurs from all over the world. The YourStory team
  primarily works out of Bengaluru, Karnataka, but has a presence throughout India through its correspondents in English
  and 12 Indian languages, including Hindi, Kannada, Tamil, Telugu, Malayalam, Marathi, Gujarati, Punjabi, Urdu,
  Bengali, Oriya and Assamese. What started as a small but robust group founded by Shradha Sharma in 2008 has now grown
  by leaps and bounds, and yet it revels in its child-like enthusiasm about the ecosystem every single day. Our content
  across text, video and social media is positive, vibrant, celebratory, even analytical but never cynical. It reflects
  who we are – the best storytellers in the country! And who doesn’t love a good story? We have published close to
  60,000 stories of entrepreneurs and change-makers and helped more than 50,000 entrepreneurs access networking and
  funding opportunities. Our flagship event, TechSparks, is now in its eighth year and has become India’s biggest and
  most loved startup summit. We also hold other industry events such as MobileSparks and Bhasha to provide entrepreneurs
  in niche areas a platform for visibility, networking, funding and mentoring.
</p>

<div class="wrapper">
  <div class="card"><img src="../../../assets/images/founders/ceo.jpg" />



    <div class="info">
      <h1>Peter, CEO</h1>
      <p>He has 15 years of industries experience</p>
      <button>Read More</button>
    </div>
  </div>
  <div class="card"><img src="../../../assets/images/founders/cto.jpg" />
    <div class="info">
      <h1>Mark, CTO</h1>
      <p>He has 20 years of industries experience</p>
      <button>Read More</button>
    </div>
  </div>
  <div class="card"><img src="../../../assets/images/founders/co-founder.jpg" />
    <div class="info">
      <h1>Larry, CFO</h1>
      <p>He has 10 years of industries experience</p>
      <button>Read More</button>
    </div>
  </div>

</div>
<div class="blank-space"></div>
